<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
		<property name="hibernate.connection.url">jdbc:sqlite:test.db</property>
		<property name="connection.password"></property>
		<property name="connection.pool_size">2</property>
		<property name="hibernate.dialect">at.ateam.easydiet.SQLiteDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create-drop</property>
				
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fhv</property>
		<property name="hibernate.connection.username">fhv</property>
		<property name="connection.password">fhv_pw</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create-drop</property>-->
				
		<mapping resource="DietTreatment.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
